<h1>Blog Posts</h1>	

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>E-mail</th>	
			<th>Date Posted</th>
			<th>View</th>
		</tr>
	</thead>

	<% @entries.each do |entry| %>
	<tr>
		<td><%= entry.title %></td>
		<td><%= entry.author %></td>
		<td><%= entry.user.email %></td>
		<td><%= entry.created_at.strftime("%b. %d, %Y") %></td>
		<td> <%= link_to 'View', user_entry(entry) %> </td>
	</tr>
<% end %>

</table>


<%= link_to 'Create New Post', new_user_entry_path %>