<!DOCTYPE html>
<html>
<head>
  <title>My Super Fantastic Blog</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="user-links">
    <li class="user-list"><a href="/users/sign_up" class="user-link">Sign Up | </a></li>
    <li class="user-list"><a href="/users/sign_in" class="user-link">Sign In | </a></li>
      <li class="user-list"><a href="/users/sign_out" class="user-link"> Log Out</a></li>
  </div> 


  <div class="pure-g">
    <div class="pure-u-1-1"><p>My Amazing Blog</p></div>
</div>



  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/entries" class="pure-menu-link">HOME</a></li>
        <li class="pure-menu-item"><a href="/entries/new" class="pure-menu-link">Create New Post</a></li>
        <li class="pure-menu-item"><a href="http://www.facebook.com/" class="pure-menu-link">Facebook</a></li>
        <li class="pure-menu-item"><a href="https://www.twitter.com/" class="pure-menu-link">Twitter</a></li>
        <li class="pure-menu-item"><a href="http://www.instagram.com" class="pure-menu-link">Instagram</a></li>
    </ul>
  </div>


  <!-- displays flash messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>



